appdirs
asgiref
black
certifi
cffi
charset-normalizer
click
cloudinary
colorama
cryptography
Django
django-binary-database-files
django-cloudinary-storage
django-rest-knox
djangorestframework
Flask
idna
isort
itsdangerous
Jinja2
MarkupSafe
mypy-extensions
mysql-connector-python
pathspec
Pillow
platformdirs
protobuf
pycparser
python-magic
pytz
regex
requests
six
sqlparse
toml
tomli
typing-extensions
urllib3
Werkzeug
