appdirs
asgiref
black
certifi
charset-normalizer
click
cloudinary
colorama
Django
django-binary-database-files
django-cloudinary-storage
djangorestframework
Flask
idna
isort
itsdangerous
Jinja2
MarkupSafe
mypy-extensions
mysql-connector-python
pathspec
Pillow
protobuf
python-magic
pytz
regex
requests
six
sqlparse
toml
urllib3
Werkzeug
