@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");

.loginContainer {
    width: 500px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-flow: column;
    background: rgba(201, 193, 193, 0.219);
    border-radius: 30px;
    padding: 20px;
    margin-top:50px;
}

.left {
    text-align: left;
    padding-bottom: 20px;
}

.title {
    height: 80px;
    width: 450px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 10px;
}

h2 {
	position: absolute;
    margin-top: 5px;
	font-size: 30px;
	color: #252839;
	text-shadow: 0 0 0.3vw #383d52;
	text-transform: uppercase;
	user-select: none;
    font-family: cursive;
    font-weight: 900;
    letter-spacing: 7px;
}
h2:before {
	content: attr(title);
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	color: #345cdf;
	text-shadow: 0 0 0.3vw #b3bbdb;
	border-right: 2px solid #372391;;
	overflow: hidden;
	animation: animate 6s linear infinite;
}
@keyframes animate {
	0%,
	10%,
	100% {
		width: 0;
	}
	70%,
	90% {
		width: 100%;
	}
}

.formPass {
    display:flex;
    width: 80%;
}




