.coursesDiv {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    /* For the fog-like glass effect */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;

    width: 95%;
  }
  
  .courses {
    width: 75%;
    text-align: left;
  }
  
  .courses h3 {
    font-size: 24px;
    color: #3c3b37;
    margin-bottom: 10px;
  }
  
  .courses h2 {
    font-size: 26px;
    color: #3c3b37;
    margin-bottom: 20px;
  }
  
  .courses p {
    color: #66655e;
  }
  