.wave1 {
    margin-top: 0;
    z-index: -10;
}

.main {
    position: absolute;
    top:0;
    width: 100%;
    height: auto;
}

div.myCourses {
    display:flex;
    justify-content: space-around;
}

p.styleText {
    font-size: 25px;
    font-family: cursive;
    position: absolute;
    margin-bottom: 10px;
    left: 50px;
}

